doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation | Welcome
    link(rel='stylesheet', href='css/_bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body(data-spy='scroll', data-target='.navMenuCollapse')
    // Main page starts
    .head
      nav.navbar.navbar-fixed-top.navbar-slide.show-menu
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            img(src='img/logo.png', height='77', width='72', alt='logo')
          #navbar.collapse.navbar-collapse.navMenuCollapse
            form.navbar-form.navbar-right
              .form-group.head-text
                input.form-control.in-text(type='text', placeholder='Search Website')
              button.btn.btn-primary.btn-lg.round(type='submit', class='.btn-radius') Buy $21
          // /.navbar-collapse
    .mast-head.bg-color-masthead
      .block-bg(data-stellar-ratio='0.4')
      .container.con-width
        .row
          h2.Building_bulletproof__fucking_apps  Building bullet proof Fucking apps
          p.main-text-kickstarter
            | Kickstarter umami intelligentsia kogi. Try hard flannel iterally, chambray blog crucifix put a bric on it four dollar toast cardigan
    // main page ends
    // section one starts
    .section-design
      .container
        .row
          .col-xs-4.design-col-width
            h3.design-text1 Super Duper & Such
            p.design-text2
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temper incidunt ut abore et dolore magna
            button.btn.btn-primary.btn-lg.round(type='button') See More
          .col-xs-8.design-col-width
            img.img-responsive.mobile.above(src='img/img-mobile.png')
            img.img-responsive.mobile.beyond(src='img/mobile-interface.jpg')
    .section-features
      .container
        .row
          .col-xs-4.design-col-width
            h3.feature-text1 Design & Features
            p.feature-text2 Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.
            p.feature-text3
              | Kickstarter umami Intelligent kogi.Try hard flannel literally,chambray blog crucifix put a bird on it four dollar toast card gun scenester asecthic sectorial chia messenger bag pinterest
            button.btn.btn-primary.btn-lg.round(type='button') See More
          .col-xs-4.design-col-width
            h3.feature-text1 Pocket Power
            p.feature-text2 Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.
            p.feature-text3
              | Kickstarter umami Intelligent kogi.Try hard flannel literally,chambray blog crucifix put a bird on it four dollar toast card gun scenester asecthic sectorial chia messenger bag pinterest
            button.btn.btn-primary.btn-lg.round(type='button') Buy Now
          .col-xs-4.design-col-width
            h3.feature-text1 Inspired by the world
            p.feature-text2 Flannel ennui narwhal, craft beer twee Vice plaid authentic synth.
            p.feature-text3
              | Kickstarter umami Intelligent kogi.Try hard flannel literally,chambray blog crucifix put a bird on it four dollar toast card gun scenester asecthic sectorial chia messenger bag pinterest
            button.btn.btn-primary.btn-lg.round(type='button') Contact Us
    // section two ends
    // section three starts
    .section-screen0
      .container
        //
          <div class="design-bg-img">
          <div class="des-lay1">
          </div>
          <div class="des-lay2">
          </div>
          </div>
        .screen0-heading
          h2.screen0-text1 Designed for humans
          p.screen0-text2
            | Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest. 3 wolf moon Thundercats Banksy paleo, yr four loko Shoreditch dreamcatcher”
        .row
          .col-xs-12
            img.screen0-img(src='img/design-for-humans.png', height='150', alt='design for humans')
    // section three ends
    // section four starts
    .section-screen1
      .container
        .row
          .col-sm-3
            .screen1-item
              .icon-advertisers_icon
              div
                span.screen1-text1 01
                span.screen1-text2 Design
              .screen1-text3
                p
                  | Scenester PBR deep v jean shorts typewriter. Sustainable keytar Tumblr, authentic mustache locavore scenester gentrify meh banjo fanny pack health goth. Four dollar toast scenester XOXO crucifix, mumblecore banh mi yr cold-pressed Bushwick.mlkshk direct trade seitan selvage Polaroid.
          .col-sm-3
            .screen1-item
              .icon-advertisers_icon
              div
                span.screen1-text1 02
                span.screen1-text2 Refinement
              .screen1-text3
                p
                  | Pickled 8-bit tousled health goth farm-to-table Pitchfork, lumbersexualchurch-key photo booth Blue Bottle.Aesthetic viral American Apparel, scenesterdistillery iPhone 8-bit tousled ugh ethicalpork belly biodiesel street art asymmetricalwhatever.
          .col-sm-3
            .screen1-item
              .icon-advertisers_icon
              .screen1-text1
                span 03
                span.screen1-text2 Dive In
            .screen1-text3
              p
                | Cliche Intelligentsia church-key, gluten-free drinking vinegar keffiyeh cornhole next levelshabby chic plaid tattooed. Helvetica post-ironic raw denim tousled listicle.
          .col-sm-3
            .screen1-item
              .icon-advertisers_icon
              div
                span.screen1-text1 04
                span.screen1-text2 Research
              .screen1-text3
                p
                  | Raw denim health goth artisan, kitsch literally shabby chic meh small batch Wes Anderson retro Neutra. Blog meggings semiotics, irony swag cred kale chips aesthetic literally VHS craft beer chia.
    // section four  ends
    // section five starts
    .section-screen2
      .container-fluid
        .row
          .col-xs-6.design-col-width
            .item
              h3
                span
                span.screen2-text1 Connectivity
              p.screen2-text2
                | Flannel ennui narwhal, craft beer twee Vice plaid authentic synth Intelligentsia stumptown gluten-free drinking vinegar Schlitz mixtape.
              p.screen2-text3
                | Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest. 3 wolf moon Thundercats Banksy paleo, yr four loko Shoreditch dreamcatcher.
          .col-xs-6.design-col-width
            img.img-con(src='img/connectivity-image.png', alt='Image connectivity')
    // section five ends
    // section six starts
    .section-screen3
      .container-fluid
        .row
          .col-sm-5
            img.screen3-rectangle1(src='img/screen3_mob-img.png')
          .col-sm-7
            .screen3-rectangle2
              .screen3-title
                p.screen3-text1     12th June 2015
                h3.screen3-text2
                  | Lorem ipsum dolor sit amet, cotur adipisicing elit sed do eiusmodtempor incididunt ut labore et dolore
              .comments
                span.screen3-icon 92
                span.screen4-text3 12th June 
    // section six ends
    // section six starts
    .section-screen4
      .container
        .row
          .col-xs-6
            .title
              h3.screen4-text1 Lorem ipsum dolor sit amet, consectetur adipisicing elit
              p.screen4-text2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
            .comments
              span.screen4-num 92
              span.screen4-text3 Comments
          .col-xs-6
            div
              img(src='img/screen4-mob-img.png')
    .section-screen5
      .container-fluid
        .rectangle-4
          p.section-screen5-text1
            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Nisi ut aliquip ex ea commodo.
          .section-screen5-item
            span.icon-advertisers_icon
            span.section-screen5-text2  Blaz Robar
    .section-contact
      .container
        .row
          .col-xs-6
            .row
              .service-item
                h5.section-contact-text1 Get in touch
                p.section-contact-text2
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .row
                .col-xs-4
                  h5.section-contact-text1 Resources
                  p.section-contact-text2 Tour
                  p.section-contact-text2 Customers
                  p.section-contact-text2 Pricing and Plans
                  p.section-contact-text2 New Features
                  p.section-contact-text2 Education
                .col-xs-4
                  h5.section-contact-text1 Features
                  p.section-contact-text2 Tour
                  p.section-contact-text2 Customers
                  p.section-contact-text2 Pricing and Plans
                  p.section-contact-text2 New Features
                  p.section-contact-text2 Education
                .col-xs-4
                  h5.section-contact-text1 How To's
                  p.section-contact-text2 Tour
                  p.section-contact-text2 Customers
                  p.section-contact-text2 Pricing and Plans
                  p.section-contact-text2 New Features
                  p.section-contact-text2 Education
          .col-xs-6
            .row
              h5.section-contact-text1 Stay in touch
              .input-group
                input.form-control(type='text')
                span.input-group-btn
                  button.btn.btn-default(type='button')
            .row
              p.section-contact-text3
                | We don’t send spam. Actually, who are we kiding, we’ll spam the shit out of you’r inbox.
    // section six ends
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
    script(src='js/vendor/jquery.min.js')
    script(src='js/vendor/what-input.min.js')
    script(src='js/app.js')
